@model SliderHomeVM


<div class="owl-carousel slider">
    @foreach (var item in Model.SliderImages)
    {
        <div> <img src="img/@item.Image" alt=""> </div>
    }

</div>
<div class="container context pl-lg-5 ml-lg-3">
    <div class="row">
        <div class="col-lg-5">
            <div class="text">
                <h1>@Model.Slider.Title</h1>

                <p class="text-black-50 d-none d-sm-block">
                    @Model.Slider.Description
                </p>
            </div>
            <div class="img">
                <img src="img/h2-sign-img.png" alt="">
            </div>
        </div>
    </div>
</div>